<!DOCTYPE html>
<html>
	<head>
		<meta name="Description" content="Personal website detailing the most important and most mundane aspects of Beka Steorts." />
		<meta name="Keywords" content="record linkage (entity resoultion), privacy, clustering, machine learning" />
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<meta name="Distribution" content="Global" />
		<meta name="Author" content="Rebecca C. Steorts - MYNICKNAME@stat.duke.edu" />
		<meta name="Robots" content="index,follow" />

		<link rel="stylesheet" href="{{ page.root }}css/style.css" type="text/css" />
		<link rel="stylesheet" href="{{ page.root }}css/highlight.css" type="text/css" />
    <link rel="stylesheet" href="{{ page.root }}css/icons.css" type="text/css" />
		<link rel="icon" type="image/jpg" href="{{ page.root }}images/me.jpg" />

    {% if page.extra <> nil  %}
    <link rel="stylesheet" href="{{ page.root }}css/{{ page.extra }}.css" type="text/css" />
    {% endif %}

		<title>Rebecca C. Steorts</title>

		<script type="text/javascript"
        src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

	</head>

	<body>
		<!-- header starts here -->
		<div id="header-wrap"><div id="header-content">

			<h1 id="logo"><a href="{{ page.root }}index.html" title="">Rebecca C. <span class="blue">Steorts</span></a></h1>
			<h2 id="slogan">Assistant Professor, Duke University, Department of Statistical Science</h2>

			<div id="header-links">
				<p>
					<a href="https://duke.edu" target="_blank">Duke University</a> |
					<a href="https://stat.duke.edu" target="_blank">Department of Statistical Science</a>
				</p>
			</div>

			<!-- Menu Tabs -->
			<ul>
				{% for link in site.navigation %}
				  {% assign current = nil %}
					{% assign stupid = link.url | remove: ".html" %}
				  {% if page.url == stupid or page.layout == link.layout or page.post == link.text %}
					{% assign current = 'current' %}
				  {% endif %}
					{% if page.url == "/" and stupid == "/index" %}
					{% assign current = 'current' %}
					{% endif %}
				  <li class="{% if forloop.first %}first{% endif %} {{ current }} {% if forloop.last %}last{% endif %}">
					<a class="{{ current }}" href="{{ link.url }}">{{ link.text }}</a>
				  </li>
				{% endfor %}
			</ul>
		</div></div>

		<!-- content-wrap starts here -->
		<div id="content-wrap"><div id="content">
			<div id="main">
				<a name="MainBlog"></a>
				{% if page.title %}<h1>{{ page.title }}</h1>{% endif %}
				{{ content }}
			</div>

			<div id="sidebar">
				<h1>Click</h1>
				<ul class="sidemenu">
				  <li><a href="https://stat.duke.edu" target="_blank">Duke Department of StatSci</a></li>
				  <li><a href="https://www.thetalkingmachines.com/" target="_blank"> Talking Machines</a></li>
				   <li><a href="https://www.hrdag.org/" target="_blank"> HRDAG</a></li>
				
		
				</ul>
			</div>
		</div></div>



		<!-- footer starts here -->
		<div id="footer-wrap"><div id="footer-content">
			<div class="col2 float-right">
				<p>Powered by <a href="https://github.com/mojombo/jekyll">Jekyll</a> on GitHub
				<br /> &copy; copyright 2017 <strong>Rebecca C. Steorts</strong>
				<br /><a href="http://www.bluewebtemplates.com/" title="Website Templates">Template</a> by <a href="http://www.styleshout.com/">styleshout</a>
				</p>
			</div>
			<br class="clear" />
		</div></div>

	</body>
  {% if page.extra <> nil  %}
      <script src="http://d3js.org/d3.v3.min.js"></script>
      <script src="{{ page.root }}scripts/{{ page.extra }}.js"></script>
      <script type="text/javascript">
        var myChart = {{ page.extra }}({width: 190, height: 150});
        myChart();
      </script>
    {% endif %}
</html>
